<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><strong>Insira seus Dados</strong></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">Sala de aula:</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Turma:</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Disciplina:</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Curso:</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Horário de Saida:</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Localização:</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" required></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="success" expand="block"><strong>Confirmar</strong></ion-button>
            </ion-col>
        </ion-row>


    </form>
</ion-content>