<ion-header>
    <ion-toolbar>
        <ion-title>
            Smart Ice
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
    <ion-grid>
        <ion-row>
            <a>AQUI O USUARIO IRÁ INSERIR OS DADOS
                COMO:
                <BR>
                HORARIO DE SAIDA
                <BR>
                SALA
                <BR>
                TURMA
                <BR>
                DISCIPLINA
                <BR>
                CURSO
                <BR>
                E AI IREMOS CRIAR OUTRA TELA COM O MAPA

            </a>
        </ion-row>
    </ion-grid>
</ion-content>