<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><strong>Cadastrar</strong></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row style="text-align: center;">
            <ion-col size-md="12" push-md="0" class="user-image">
                <img 
                    [ngClass]="image ? 'user-photo' : 'no-photo'"
                    [src]="image ? image : '/assets/icon/login.png'"
                >
                <ion-fab-button (click)="takePhoto()" style="text-align: center;">
                    <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
            </ion-col>
        </ion-row>
      </ion-grid>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">
              <ion-icon name="finger-print-outline"></ion-icon> Matrícula</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">
              <ion-icon name="person-outline"></ion-icon> Nome Completo</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">
              <ion-icon name="mail-unread-outline"></ion-icon> E-mail</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">
              <ion-icon name="lock-open-outline"></ion-icon> Senha</ion-label>
            <ion-input type="password" required></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" expand="block" (click)="registration()"><strong>Cadastrar</strong></ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>