ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 60px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-slides {
  height: 100%;

  .slide-inner {
      width: 75%;
      color: #fff;
      background-color: #0072bc;
      border-radius: 10px;

      ion-item {
          --background: rgba(255, 255, 255, 0.2);
          --border-radius: 10px;

          ion-input {
              --color: #fff;
          }
      }
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}