.google-login {
    font-style: normal;
    letter-spacing: normal;
    font-weight: normal;
    margin-top:  30%;
}


.logo .img4 {
    width: 50%;
    float: left;
    height: 120px;
}
.img4 > img {
    height: 100%;
    margin-left: 300px;
    width: 100%;
    object-fit: cover;
      display: block;
   margin: auto;
   width: 50%;
}

ion-content{
    --background: url('/assets/icon/fundo.png');
    --background-repeat: no-repeat;
    --background-size: cover;  
    }
    