
  <ion-content padding  scroll=”false”>

    <ion-row>
       
        <ion-col> 
          <div class="logo">
            <img class="logo" src="\assets\icon\logo.png" >
        </div>
            <ion-button color="primary"
            
                type="submit"
              
                expand="block"
                (click)="login()"
                class="google-login">
               <strong> LOGIN COM O GOOGLE</strong>
                <ion-icon style="padding-left: 5px;" name="logo-google"></ion-icon>
            </ion-button>
          <div class="credito">
            <p>Todos os direitos reservados © Smart Ice 2020.</p>
          </div>
        </ion-col>
    </ion-row>

    
  </ion-content>