
  <ion-content padding  scroll=”false”>

    <ion-row>
       
        <ion-col> <img class="logo" src="\assets\icon\logo.png"
          >
            <ion-button color="danger"
            
                type="submit"
              
                expand="block"
                (click)="login()"
                class="google-login">
               <strong> LOGIN COM O GOOGLE</strong>
                <ion-icon style="padding-left: 5px;" name="logo-google"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

    
  </ion-content>