.google-login {
    font-style: normal;
    letter-spacing: normal;
    font-weight: normal;
    margin-top:  40%;
}


.logo .img4 {
    width: 50%;
    float: left;
    height: 120px;
    
}
.img4 > img {
    height: 100%;
    margin-left: 300px;
    width: 100%;
    object-fit: cover;
      display: block;
   margin: auto;
   width: 50%;
}

ion-content{
    --background: url('https://ae01.alicdn.com/kf/HTB159iFKXXXXXXHXpXXq6xXFXXXj/Personalizada-fotografia-vinil-backdrops-cinza-claro-velho-mestre-foto-de-fundo-para-est-dio-de-fotografia.jpg');
    --background-repeat: no-repeat;
    --background-size: cover;  
    }

.logo{
    margin-top: 40px;
}

.credito{
    color: black;
    text-align: center;
    font-size: 15px;
    margin-top: 250px;
}

    