<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><strong> Entrar</strong></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-grid>
            <ion-row>
                <ion-col size-md="12" push-md="0">
                <div>
                    <img src="/assets/icon/login.png" width="120px" height="80px">
                </div>
            </ion-col>
            </ion-row>
          </ion-grid>
        <ion-item lines="full">
            <ion-label position="floating">
                <ion-icon name="mail-unread-outline"></ion-icon> E-mail</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">
                <ion-icon name="lock-open-outline"></ion-icon> Senha</ion-label>
            <ion-input type="password" required></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" expand="block"><strong> Entrar</strong></ion-button>
                <a [routerLink]="['/forgot-password']" class="small-text"> <ion-icon name="alert-circle-outline"></ion-icon> Esqueceu sua senha?</a>
            </ion-col>
        </ion-row>

    </form>
</ion-content>