<ion-header>
    <ion-toolbar>
        <ion-title>
            <strong>Smart Ice</strong>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
    <ion-grid>
        <ion-row>
            <ion-col align-self-center>
                <ion-button [routerLink]="['/registration']" expand="block" color="primary"><strong>Cadastrar</strong></ion-button>

                <span class="divider line one-line">Ou</span>

                <span class="already">Possui cadastrado ?</span>

                <ion-button [routerLink]="['/login']" expand="block" color="danger"><strong>Entrar</strong></ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>