<ion-header>
    <ion-toolbar>
        <ion-title>
            Smart Ice
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
    <ion-grid>
        <ion-row>
            <ion-col align-self-center>
                <ion-button [routerLink]="['/registration']" expand="block" color="primary">Cadastrar</ion-button>

                <span class="divider line one-line">Ou</span>

                <span class="already">Possui cadastrado ?</span>

                <ion-button [routerLink]="['/login']" expand="block" color="danger">Entrar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>