<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><strong>Localização atual</strong></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
       
        // mapa para teste
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1PTiPfkycz0yw9Uu5yLn0dKslU4ZhwppR" width="640" height="480"></iframe>

        <br>
        <br>
        <ion-item lines="full">
            <ion-label position="floating">
                <ion-icon name="time-outline"></ion-icon> Horário de chegada (previsto)</ion-label>
            
        </ion-item>


    </form>
</ion-content>